* {
  margin: 0;
  padding: 0;
}
body {
  height: auto;
  border: 1px solid red;
}
.header {
  height: 100px;
  border: 2px solid pink;
}
.search {
  height: auto;
  width: 100%;
  border: 2px solid blue;
}
.newBook {
  height: auto;
  width: 100%;
  border: 2px solid blueviolet;
}
